.slider__label {
  position: absolute;
  top: 344px;
  left: 0;
}

@media screen and (max-width: 1280px) {
  .slider__label {
    top: 60%;
  }
}

@media screen and (max-width: $mobile) {
  .slider__label {
    top: 133px;
    width: 70px;
  }
}
