.slider__illustration {
  width: 100%;
  margin-bottom: 50px;
}

.slider__illustration:first-of-type {
  margin-right: 20px;
}

@media screen and (max-width: 1280px) {
  .slider__illustration {
    width: 50%;
  }
}

@media screen and (max-width: $mobile) {
  .slider__illustration {
    width: 100%;
    margin: 0;
  }

  .slider__illustration:last-of-type {
    display: none;
  }
}

