.bikes__item-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 22px 0 0;
  color: var(--textColor);
}

@media screen and (max-width: $tablet) {
  .bikes__item-caption {
    margin: 3px 0 16px;
    align-self: center;
  }
}
