.slider__label_type_highway {
  top: 356px;
  left: 16px;
}

@media screen and (max-width: 1280px) {
  .slider__label_type_highway {
    top: 62%;
  }
}

@media screen and (max-width: $mobile) {
  .slider__label_type_highway {
    top: 141px;
    left: 11px;
    width: 35px;
  }
}
