.slider__label_type_tt {
  top: 372px;
  left: 16px;
}

@media screen and (max-width: 1280px) {
  .slider__label_type_tt {
    top: 65%;
  }
}

@media screen and (max-width: $mobile) {
  .slider__label_type_tt {
    top: 150px;
    left: 11px;
    width: 35px;
  }
}
