.slider__label_type_gravel {
  top: 367.5px;
  left: 16px;
}

@media screen and (max-width: 1280px) {
  .slider__label_type_gravel {
    top: 64%;
  }
}

@media screen and (max-width: $mobile) {
  .slider__label_type_gravel {
    top: 145px;
    left: 11px;
    width: 35px;
  }
}
