.slider__button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--sliderButton);
  background-repeat: no-repeat;
  background-size: 7px 16px;
  margin-right: 20px;
  cursor: pointer;
}

.slider__button:hover {
  opacity: var(--opacityNormal);
  transition: .3s;
}

@media screen and (max-width: $mobile) {
  .slider__button {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-size: 4.5px 10px;
    margin: 0;
  }

  .slider__button:first-of-type {
    margin-right: 8px;
  }
}
